script(async src=`//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=${config.adsense}` crossorigin='anonymous')
// hexo-sidebar
ins(class="adsbygoogle", style="display:block", data-ad-client=config.adsense, data-ad-slot="8543168491", data-ad-format="auto", data-full-width-responsive="true")
script.
  (adsbygoogle = window.adsbygoogle || []).push({});

