if theme.show_ad_post
  script(async='', src=`//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=${config.adsense}` crossorigin='anonymous')
  ins.adsbygoogle(style='display:inline-block;width:728px;height:90px', data-ad-client=config.adsense, data-ad-slot='8807317482')
  script.
    (adsbygoogle = window.adsbygoogle || []).push({});
